<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Prefetch DNS for external assets -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">

    <title>{{ page.title }} &ndash; 10 Hacks &ndash; code and startup hacks</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="apple-mobile-web-app-title" content="10 Hacks">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% stylesheet app %}

    <link rel="shortcut icon" href="/images/logos/favicon.ico">
    <link rel="apple-touch-icon" href="/images/logos/logo_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/logos/logo_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/logos/logo_114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/logos/logo_144x144.png">

    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="10 Hacks ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="10 Hacks RSS Feed">
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="{{ HOME_PATH }}" title="{{ site.title }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <div class="btn-group pull-right">
            <a class="btn btn-primary" href="#contact-modal" data-toggle="modal" data-target="#contactModal"><i class="fui-time"></i></a>
            <a class="btn btn-primary" href="#"><i class="fui-time"></i></a>
            <a class="btn btn-primary" href="#"><i class="fui-time"></i></a>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

    {% include JB/analytics %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    {% javascript app %}
  </body>
</html>
