---
layout: default
title:
---

<section class="page-head">
  <h1>
    <b class="brand">10 Hacks</b>
    <b class="brand-tagline">Startups <small>/</small> Code <small>/</small> Future Stuff</b>
  </h1>
</section>

<section class="posts">
  <ol class="block-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <span class="post__time">{{ post.date | date: "%d %B, %Y" }}</span>
      <span class="post__author">{{ post.author }}</span>
    </li>
    {% endfor %}
  </ol>
</section>

<ol class="nav  pagination">
  <li class="pagination__prev">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">Previous</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
    {% else %}
      Previous
    {% endif %}
  </li>
  <li class="pagination__next">
    {% if paginator.next_page %}
      <a href="/page{{paginator.next_page}}">Next</a>
    {% else %}
      Next
    {% endif %}
  </li>
</ol>