.posts {
  .block-list {
    border: none;
    list-style: decimal;
  }
  .post__title {
    @include font_size(16px);
    margin: 0;
  }
  .post__time {
    color: #B3B3B3;
    font-weight: 300;
  }
  .post__author {
    color: #B3B3B3;
  }
  li {
    border: none;
    &:hover {
      background: #F9F9F9;
    }
  }
}