<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">

  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="shortcut icon" href="/images/logos/favicon.ico">
  <link rel="apple-touch-icon" href="/images/logos/logo_57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/logos/logo_72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/logos/logo_114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/logos/logo_144x144.png">

  <!-- Prefetch DNS for external assets -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">

  {% stylesheet app %}

  {% include google_analytics.html %}
</head>
