<nav role="navigation" class="container">
  <ul class="subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
    <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
    {% if site.subscribe_email %}
      <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
    {% endif %}
  </ul>
  {% if site.simple_search %}
  <form action="{{ site.simple_search }}" method="get">
    <fieldset role="search">
      <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
      <input class="search" type="text" name="q" results="0" placeholder="Search"/>
    </fieldset>
  </form>
  {% endif %}

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="{{ HOME_PATH }}" title="{{ site.title }}">{{ site.title }}</a>
      <ul class="nav">
        {% for node in site.pages %}
          {% if node.title != null %}
            {% if node.group == 'navigation' %}
              {% if page.url == node.url %}
              <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
              {% else %}
              <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% assign group = nil %}
      </ul>
      <div class="btn-group pull-right">
        <a class="btn btn-primary" href="#contact-modal" data-toggle="modal" data-target="#contactModal"><i class="fui-time"></i></a>
        <a class="btn btn-primary" href="#"><i class="fui-time"></i></a>
        <a class="btn btn-primary" href="#"><i class="fui-time"></i></a>
      </div>
    </div>
  </div>
</nav>
