/********************************************************************
* Flat UI
*********************************************************************/

// Color Swatches
$turquoise:     #1abc9c;
$green-sea:     #16a085;
$emerald:       #2ecc71;
$nephritis:     #27ae60;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$amethyst:      #9b59b6;
$wisteria:      #8e44ad;
$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;
$sun-flower:    #f1c40f;
$orange:        #f39c12;
$carrot:        #e67e22;
$pumpkin:       #d35400;
$alizarin:      #e74c3c;
$pomegranate:   #c0392b;
$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$paper:         #ececec;

// Main Colors
$base:             $wet-asphalt;
$firm:             $turquoise;
$gray:             $concrete;
$lightgray:        $silver;
$inverse:          white;
$success:          $emerald;
$danger:           $alizarin;
$warning:          $sun-flower;
$info:             $peter-river;
$link-color:       $green-sea;
$link-hover-color: $turquoise;


// Typography
$sansFontFamily:    Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:   Georgia, "Times New Roman", Times, serif;
$monoFontFamily:    Monaco, Menlo, Consolas, "Courier New", monospace;
$base-font-family:  $sansFontFamily;
$base-font-size: 20px;
$base-line-height: 1.231;
$h1: $base-font-size * 4.429; /* 62px */
$h2: $base-font-size * 3.714; /* 52px */
$h3: $base-font-size * 2.857; /* 40px */
$h4: $base-font-size * 2.071; /* 29px */
$h5: $base-font-size * 2;     /* 28px */
$h6: $base-font-size * 1.714; /* 24px */

// Icons
$icon-normal: 16px;
$icon-medium: 18px;
$icon-large:  32px;

// Inputs
$input-border-radius: 6px;

// Pagination
$pagination-color: mix($base, white, 20%);

// Pager
$pager-padding: 9px 15px 10px;

// Buttons
$button-text:           $inverse;
$button-hover:          mix($lightgray, white, 80%);
$button-active:         mix($lightgray, black, 85%);
$button-primary-hover:  mix($firm, white, 80%);
$button-primary-active: mix($firm, black, 85%);
$button-info-hover:     mix($info, white, 80%);
$button-info-active:    mix($info, black, 85%);
$button-success-hover:  mix($success, white, 80%);
$button-success-active: mix($success, black, 85%);
$button-danger-hover:   mix($danger, white, 80%);
$button-danger-active:  mix($danger, black, 85%);
$button-warning-hover:  overlay($warning, darken(white, 37.5%));
$button-warning-active: mix($warning, black, 85%);
$button-inverse-hover:  overlay($base, darken(white, 37.5%));
$button-inverse-active: mix($base, black, 85%);

// Navbar
$navbar-link-space:    10px;
$navbar-sublink-space: 9px;

// Dropdown Menu
$dropdown-background: mix($inverse, $base, 94%);

// Progress/slider
$progress-height: 12px;

// Switch
$switch-border-radius: 30px;
$switch-width: 80px;





/********************************************************************
* Solarized
*********************************************************************/

$monoFontFamily: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

// Uncomment to use light theme
//$solarized: light;

$solar-base03:    #002b36; //darkest blue
$solar-base02:    #073642; //dark blue
$solar-base01:    #586e75; //darkest gray
$solar-base00:    #657b83; //dark gray
$solar-base0:     #839496; //medium gray
$solar-base1:     #93a1a1; //medium light gray
$solar-base2:     #eee8d5; //cream
$solar-base3:     #fdf6e3; //white
$solar-yellow:    #b58900;
$solar-orange:    #cb4b16;
$solar-red:       #dc322f;
$solar-magenta:   #d33682;
$solar-violet:    #6c71c4;
$solar-blue:      #268bd2;
$solar-cyan:      #2aa198;
$solar-green:     #859900;

// Non highlighted code colors
$pre-bg: $solar-base03;
$pre-border: darken($solar-base02, 5);
$pre-color: $solar-base1;





/********************************************************************
* Bootstrap
*********************************************************************/

// Grays
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// Accent colors
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Scaffolding
$bodyBackground:        $paper !default;
$textColor:             $grayDark !default;

// Links
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15%) !default;

// Typography
$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;
$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor

// Component sizing
// Based on 14px font-size and 20px line-height
$fontSizeLarge:         $baseFontSize * 1.25 !default; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85 !default; // ~12px
$fontSizeMini:          $baseFontSize * 0.75 !default; // ~11px
$paddingLarge:          11px 19px !default; // 44px
$paddingSmall:          2px 10px !default;  // 26px
$paddingMini:           0px 6px !default;   // 22px
$baseBorderRadius:      4px !default;
$borderRadiusLarge:     6px !default;
$borderRadiusSmall:     3px !default;

// Tables
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border

// Buttons
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #ccc !default;
$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;
$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;
$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;
$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;
$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;
$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;

// Forms
$inputBackground:               $white !default;
$inputBorder:                   #ccc !default;
$inputBorderRadius:             $baseBorderRadius !default;
$inputDisabledBackground:       $grayLighter !default;
$formActionsBackground:         #f5f5f5 !default;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border

// Dropdowns
$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownDividerTop:            #e5e5e5 !default;
$dropdownDividerBottom:         $white !default;
$dropdownLinkColor:             $grayDark !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkColorActive:       $white !default;
$dropdownLinkBackgroundActive:  $linkColor !default;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive !default;

// Z-index master list
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1030 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;

// Sprite icons path
$iconSpritePath:          "../img/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png" !default;

// Input placeholder text color
$placeholderText:         $grayLight !default;

// Hr border color
$hrBorder:                $grayLighter !default;

// Horizontal forms & lists
$horizontalComponentOffset:       180px !default;

// Wells
$wellBackground:                  #f5f5f5 !default;

// Navbar
$navbarCollapseWidth:             979px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;
$navbarHeight:                    40px !default;
$navbarBackgroundHighlight:       #ffffff !default;
$navbarBackground:                darken($navbarBackgroundHighlight, 5%) !default;
$navbarBorder:                    darken($navbarBackground, 12%) !default;
$navbarText:                      #777 !default;
$navbarLinkColor:                 #777 !default;
$navbarLinkColorHover:            $grayDark !default;
$navbarLinkColorActive:           $gray !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;
$navbarBrandColor:                $navbarLinkColor !default;

// Inverted navbar
$navbarInverseBackground:                #111111 !default;
$navbarInverseBackgroundHighlight:       #222222 !default;
$navbarInverseBorder:                    #252525 !default;
$navbarInverseText:                      $grayLight !default;
$navbarInverseLinkColor:                 $grayLight !default;
$navbarInverseLinkColorHover:            $white !default;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
$navbarInverseLinkBackgroundHover:       transparent !default;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;
$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
$navbarInverseSearchBackgroundFocus:     $white !default;
$navbarInverseSearchBorder:              $navbarInverseBackground !default;
$navbarInverseSearchPlaceholderColor:    #ccc !default;
$navbarInverseBrandColor:                $navbarInverseLinkColor !default;

// Pagination
$paginationBackground:                #fff !default;
$paginationBorder:                    #ddd !default;
$paginationActiveBackground:          #f5f5f5 !default;

// Hero unit
$heroUnitBackground:              $grayLighter !default;
$heroUnitHeadingColor:            inherit !default;
$heroUnitLeadColor:               inherit !default;

// Form states and alerts
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;
$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;
$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;
$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;

// Tooltips
$tooltipColor:            #fff !default;
$tooltipBackground:       #000 !default;
$tooltipArrowWidth:       5px !default;
$tooltipArrowColor:       $tooltipBackground !default;

// Popover
$popoverBackground:       #fff !default;
$popoverArrowWidth:       10px !default;
$popoverArrowColor:       #fff !default;
$popoverTitleBackground:  darken($popoverBackground, 3%) !default;
$popoverArrowOuterWidth:  $popoverArrowWidth + 1 !default;
$popoverArrowOuterColor:  rgba(0,0,0,.25) !default;

// GRID
// Default 940px grid
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;
// 1200px min
$gridColumnWidth1200:     70px !default;
$gridGutterWidth1200:     30px !default;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) !default;
// 768px-979px
$gridColumnWidth768:      42px !default;
$gridGutterWidth768:      20px !default;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;

// Fluid grid
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth) !default;
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth) !default;
// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200) !default;
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200) !default;
// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768) !default;
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768) !default;

