$li-bg: $paper;

article {
  ol,ul {
    padding: 15px 10px 5px 23px;
    margin: 20px 0;
    list-style: none;
    background: $white;
    font-size: $base-font-size * 0.9;
    li {
      position: relative;
      margin-bottom: 15px;
      &:before {
        position: absolute;
        font: normal 11px sans-serif;
        text-align: center;
        line-height: 18px;
        width: 18px;
        height: 17px;
        content: ' ';
      }
    }
  }
  ul {
    li:before {
      left: -23px;
      top: 2px;
      @include triangle(15px, $li-bg, right);
    }
  }
  ol {
    counter-reset: numList;
    li {
      position: relative;
      margin-bottom: 15px;
      &:before {
        left: -26px;
        top: 2px;
        counter-increment: numList;
        content: counter(numList);
        color: $concrete;
        background: $li-bg;
      }
    }
  }
}