<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Prefetch DNS for external assets -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">

    <title>{{ page.title }} &ndash; 10 Hacks &ndash; code and startup hacks</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300|Ubuntu:300">
    <link rel="stylesheet" href="{{ site.root }}css/style.min.css">

    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/10hacks">

    <link rel="shortcut icon" href="{{ site.root }}icon.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.root }}icon.png">
    <meta name="apple-mobile-web-app-title" content="10 Hacks">
    <meta name="description" content="Tips and tricks for startup entrepreneurs and hackers.">
</head>
<body>
  {{ content }}

  <footer class="page-foot">
    <p class="smallprint">
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">10 Hacks</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://joejohnston.me" property="cc:attributionName" rel="cc:attributionURL">Joe Johnston</a> and friends.
    </p>
  </footer>
</body>
</html>
