---
layout: default
title: Toolbox for startup hackers
header:
  <i class="brand">10 Hacks</i> is a toolbox for startup hackers.
  <i class="softwrap"></i>
  Open sourced on github.
  Details about the project.
---

<div class="container">
  <section class="posts">
    <ol>
      {% for post in paginator.posts %}
      <li>
        <h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="post__time">{{ post.date | date: "%d %B, %Y" }}</span>
        <span class="post__author">{{ post.author }}</span>
      </li>
      {% endfor %}
    </ol>
  </section>
  <ol class="nav  pagination">
    <li class="pagination__prev">
      {% if paginator.previous_page %}
        {% assign prev_path = paginator.previous_page == 1 and || '/' %}
        <a href="{{prev_path}}">Previous</a>
      {% else %}
        Previous
      {% endif %}
    </li>
    <li class="pagination__next">
      {% if paginator.next_page %}
        <a href="{{paginator.next_page_path}}">Next</a>
      {% else %}
        Next
      {% endif %}
    </li>
  </ol>
  <section class="categories">
    <h2>Topics</h2>
    {% include lists/categories.html %}
  </section>
</div>

<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
